/.vs/*
/*.sdf
/loader/*.aps
/CMakeSettings.json
/out
/.idea/
/.vscode/
/build/
/cmake-build-debug-visual-studio-17-32-bit/
/cmake-build-release-visual-studio-17-32-bit/
/loader/RCa22240
/cmake-build-release-static-visual-studio-17-32-bit/
CLAUDE.md
.claude/